.container{
  width: 100%;
  height: calc(100vh - 50px) !important;
  display:flex;
  flex-direction:column;
  align-items:center;
 
  
}
.posts{
  padding-bottom: 60px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.addPostContainer{
  display: flex;
  flex-direction:column;
  align-items:center;
}

.addPostIcon{
  color: #337bf7;
  font-size:50pt;
  cursor: pointer;
  animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}
.addPostIconDeactive{
  display:none;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    
  }
}

.addPost{
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.addPostDeactive{
 display:none;

}
